<!-- Mensaje de carga -->
<div *ngIf="loading">Cargando jugadores...</div>

<!-- Filtros -->


<!-- Mostrar jugadores si ya están cargados -->
<div *ngIf="!loading">
  <!-- Si hay jugadores, mostrar los resultados -->
  <div *ngIf="players.length > 0; else noPlayers">
    <div class="players-container">
      <div class="cointeiner">
        <div *ngFor="let player of players">
          <div class="player-card">
            <img [src]="player.player_face_url" alt="{{ player.long_name }}" class="player-image">
            <div class="player-info">
              <strong>{{ player.long_name }}</strong> - {{ player.player_positions }}<br>
              Club: {{ player.club_name }} | Edad: {{ player.age }} | Overall: {{ player.overall }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Si no hay jugadores, mostrar mensaje -->
  <ng-template #noPlayers>
    <div>No hay jugadores disponibles.</div>
  </ng-template>

  <!-- Controles de paginación -->
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }}</span>
    <button (click)="nextPage()">Siguiente</button>
  </div>
</div>
